body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    margin-top: 1px;
    font-size: 30px;
}

.top-section {
    height: 530px;
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 20px;
}

.bottom-section {
    background-color: #d0e1f9;
    padding: 20px;
    text-align: center;
}


input {
    padding: 3px;
    width: 350px;
    margin-bottom: 10px;
}

#countryChart {
    max-width: 450px;
    max-height: 450px;
    display: block;
    margin: 20px auto;
}


table {
    width: 80%;
    margin: 10px auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #A0D8B3;
    color: white;
    cursor: pointer;
}

th:hover {
    background: #0056b3;
}

tbody {
    display: block;
    max-height: 350px;
    overflow-y: auto;
    width: 100%;
}

thead, tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
